header[role="banner"]{
  background-color: rgba(127, 171, 141, 0.96);
  box-shadow: 0 0 0.9rem rgb(86, 100, 90);
  left: 0rem;
  margin: 0rem;
  position: fixed;
  top: 0rem;
  width: 100%;
  z-index: 10000;
}

.main-logo{
  color: white;
  font-size: 3rem;
  padding: 0 0 0.5rem 0.4rem;
}

nav  ul{
  bottom: 0rem;
  color: white;
  position: absolute;
  right: 0rem;
}

nav  ul  li{
  display: inline;
  font-size: 1.5rem;
  padding: 0.5rem;
}
nav  ul  li:hover{
  color: black;
  cursor: pointer;
  transition: color 0.5s;
}

.el-footer{
  background-color: rgba(127, 171, 141, 1);
  bottom: 0rem;
  left: 0rem;
  padding: 0.1rem 0 0.1rem 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.el-footer p{
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
