body {
  background: rgb(36, 52, 41);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Gruppo', cursive;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  -moz-background-size:cover;
  -webkit-background-size:cover;
}

header[role="banner"]{
  background-color: rgba(127, 171, 141, 0.96);
  box-shadow: 0 0 0.9rem rgb(86, 100, 90);
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.main-logo{
  color: white;
  font-size: 3rem;
  padding: 0 0 0.5rem 0.4rem;
}
.main-logo:hover{
  cursor: pointer;
}

#alert-box{
  background-color: green;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
  text-align: center;
  visibility: hidden;
  width: 50%;
  z-index: 200;
}

section[role="region"]{
  margin-top: -20rem;
}

.el-footer{
  background-color: rgba(127, 171, 141, 1);
  bottom: 0;
  left: 0;
  padding: 0.1rem 0 0.1rem 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.el-footer p{
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
