body{
  background: rgb(36, 52, 41);
  font-family: 'Gruppo', cursive;
  text-align: center;
}

header{
  background-color: rgba(127, 171, 141, 0.96);
  box-shadow: 0 0 0.9rem rgb(86, 100, 90);
  left: 0rem;
  position: fixed;
  text-align: left;
  top: 0rem;
  z-index: 10000;
}

[role="list"]{
  bottom: 0rem;
  color: white;
  position: absolute;
  right: 0rem;
}

.inline-list{
  display: inline;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.inline-list:hover{
  color: black;
  cursor: pointer;
  transition: color 0.5s;
}

footer{
  background-color: rgba(127, 171, 141, 1);
  bottom: 0rem;
  left: 0rem;
  padding: 0.1rem 0 0.1rem 0;
  position: fixed;
  z-index: 10000;
}

footer p{
  color: white;
  font-size: 1.2rem;
}

