body{
  background: rgb(36, 52, 41);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Gruppo', cursive;
  margin: 0rem;
  -moz-background-size:cover;
  -webkit-background-size:cover;
}

header[role="banner"]{
  background-color: rgba(127, 171, 141, 0.96);
  box-shadow: 0 0 0.9rem rgb(86, 100, 90);
  left: 0rem;
  margin: 0rem;
  position: fixed;
  top: 0rem;
  width: 100%;
  z-index: 10000;
}

.main-logo{
  color: white;
  font-size: 3rem;
  padding: 0 0 0.5rem 0.4rem;
}
.main-logo:hover{
  cursor: pointer;
}

section{
  margin-top: -20rem;
}

.el-footer{
  background-color: rgba(127, 171, 141, 1);
  bottom: 0rem;
  left: 0rem;
  padding: 0.1rem 0 0.1rem 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.el-footer p{
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

nav  ul{
  bottom: 0rem;
  color: white;
  position: absolute;
  right: 0rem;
}

nav  ul  li{
  display: inline;
  font-size: 1.5rem;
  padding: 0.5rem;
}
nav  ul  li:hover{
  color: black;
  cursor: pointer;
  transition: color 0.5s;
}

/*Form*/

form{
  bottom: 10.9rem;
  left: 32rem;
  position: fixed;
  width: 100%;
  visibility: hidden;
}

select,
input,
label{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.3rem;
  text-align: center;
}

fieldset{
  background-color: rgba(198, 229, 198, 0.93);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: 0 0 2rem rgb(86, 100, 90);
  width: 20%;
}

fieldset p{
  text-align: center;
  margin: 0.5rem 0 0.5rem 0.3rem;
}

legend{
  background: white;
  border-top-right-radius: 0.5rem;
  color: rgb(18, 18, 39);
  padding: 0.6rem;
}


input[type="submit"]{
  margin-top: 0.5rem;
}

button{
  display: block;
  margin: 0 auto;
  margin-bottom: 0.2rem;
  margin-top: 0.4rem;
}

#show-R-Form{
  background-color: rgb(127, 171, 141);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgb(86, 100, 90);
  color: azure;
  font-size: 1.5rem;
  position: absolute;
  right: 36.5rem;
  text-align: center;
  top: 25rem;
  width: 10%;
  z-index: 9999;
}
#show-R-Form:hover{
  box-shadow: 0 0 1rem rgb(86, 100, 90);;
  color: black;
  cursor: pointer;
  transition: color 0.5s, box-shadow 0.5s;
}

video{
  color: white;
  background-size: cover;
  bottom: 0rem;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: 0rem;
  width: auto;
  z-index: -100;
}

.serviceInfo{
  background-color: rgb(36, 52, 41);
  bottom: 0rem;
  color: white;
  font-size: 2.2rem;
  height: 10rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.info-tag{
  color: azure;
  font-size: 1.2rem;
  margin-left: 0.3rem;
  text-align: center;
}

.tagLine{
  color: white;
  font-size: 5rem;
  margin-top: 28rem;
  text-align: center;
  z-index: 100;
}

.orangeB{
  color: orange;
}

