:-webkit-full-screen #myvideo {
  width: 100%;
  height: 100%;
}

body {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

nav {
    text-align: center;
    background-color: black;
    padding: 2% 0 0 0;
    z-index: -100;
    opacity: 0.8;

}

nav ul {
    padding: 0 0 30px 0;
    list-style: none;

}

nav li {
    vertical-align: text-top;
    display: inline-block;
    margin: 0 -3px 0 0;
}

nav a {
    padding: 15px 40px;
    color: white;
    text-decoration: none;
    }

nav a:hover {
    color: gray;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -99;
  background: url('img/palm.png') no-repeat;
  background-size: cover;
}

section {
  background-color: white;
  width: 30%;
  opacity: 0.8;
  margin: 10% 5% 0 20%;
  padding: 2% 5% 2% 2%;
  font-family: 'Raleway', sans-serif;
}

h1{
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 5%;
}
