!!! 5
html(lang='en')
  head
    title Wendy's Semantic Html5
  body
    nav.main-nav(role='navigation')
      img(src='#', alt='Forbes Logo')
      a(hre='#')
        h4 New Posts
        p
      a(hre='#')
        h4 Most Popular
        p
      a(hre='#')
        h4 Lists
        p
      a(hre='#')
        h4 Video
        p
      form
        input(type='submit', name='search')
        button
      button(name='login')
    // Drop down navigation
    nav.pop-nav(role='navigation')
      section.pop-nav__chann
        ul
          li
            a(href='#', alt='Business') Business
          li
            a(href='#', alt='Investing') Investing
          li
            a(href='#', alt='Technology') Technology
          li
            a(href='#', alt='Entrepreneurs') Entrepreneurs
      section.pop-nav__chann__bus
        ul
          li
            a(href='#', alt='Asia Outlook') Asia Outlook
          li
            a(href='#', alt='Asia Outlook') Asia Outlook
          li
            a(href='#', alt='Asia Outlook') Asia Outlook
          li
            a(href='#', alt='Asia Outlook') Asia Outlook
      section.pop-nav__chann__inv
        ul
          li
            a(href='#', alt='Advisor Network') Advisor Network
          li
            a(href='#', alt='Advisor Network') Advisor Network
          li
            a(href='#', alt='Advisor Network') Advisor Network
          li
            a(href='#', alt='Advisor Network') Advisor Network
      section.pop-nav__chann__tech
        ul
          li
            a(href='#', alt='Century Link Choice') Century Link Choice
          li
            a(href='#', alt='Century Link Choice') Century Link Choice
          li
            a(href='#', alt='Century Link Choice') Century Link Choice
          li
            a(href='#', alt='Century Link Choice') Century Link Choice
    // Login nav
    nav.log-nav
      a(href='#') 21 Rock-Solid Dividend Payers
      a(href='#') Log in
      a(href='#') Sign up
      a(href='#') Connect
      a(href='#')
        img(src='#', alt='Facebook')
      a(href='#')
        img(src='#', alt='Twitter')
      a(href='#')
        img(src='#', alt='LinkdIn')
      a(href='') Help
    // Top ad block
    section.ad
    // Main content
    main.main
      h1 Top Stories
      img(src='#', alt='Main Image')
      h3 Paper Profits: Meet The King Of Personal Hygiene Products
      p
        | Li Shufu is rare among today’s Chinese entrepreneurs for taking on auto manufacturing, a sector dominated by state enterprises and multinationals.
      // Cite block
      section.author
        img(src='#', alt='Image of author')
        strong Russell Flannery
        | , Forbes Staff
    // Regional Stories
    aside.regional-col
      nav.reg-nav
        a(href='#') U.S.
        a(href='#') Europe
        a(href='#') Asia
      section.story-cite
        a(href='#')
          h6 Fed Ends QE And Perks Up Labor Market Outlook
        cite.cite-SS
          img(src='#', alt='Image of author')
          strong Samantha Sharf
          | , Forbes Staff
      section.story-cite
        a(href='#')
          h6 An Answer From Sanofi: What About Genzyme?
        cite.cite-MH
          img(src='#', alt='Image of author')
          strong Mathew Herper
          | , Forbes Staff
      section.story-cite
        a(href='#')
          h6 Apple Pay Rival And Walmart-Backed MCX Hacked, User Emails Snatched
        cite.cite-RM
          img(src='#', alt='Image of author')
          strong Ryan Mac
          | , Forbes Staff
    // Social media links
    nav.soc-nav
      p Follow Forbes
      a(href='#')
        img(src='#', alt='facebook icon')
      a(href='#')
        img(src='#', alt='twitter icon')
      a(href='#')
        img(src='#', alt='LinkdIn icon')
      a(href='#')
        img(src='#', alt='Google Plus icon')
      a(href='#')
        img(src='#', alt='Youtube icon')
