!!! 5
html (lang='en')
  head
    title On advertising
    meta(charset='utf-8')
  body
    nav
      ul
        li
          a(aria-labelledby='home', href='#') Home
        li
          a(aria-labelledby='reading', href='#') Reading
        li
          a(aria-labelledby='writing', href='#') Writing
        li
          a(aria-labelledby='about', href='#') About
    header
      img(src='#')
      h1
        | A working library collects reading and writing
        em from
        | Mandy Brown
    main
       time(datetime='2009-03-09')  09 MAR 09
       h1 On advertising
       article
        p
          | Let’s pretend, for a moment, that the reading experience on the web is dependent upon an advertising economy, that there is no other model for supporting reading save the ever more noisome sale of cellulite creams and cell phones, that our ingenuity has been so fully drained we cannot envision any other scenario by which capitalism and reading could coexist.
        p
          | Through this premise we find ourselves in a familiar conundrum: it is the reading experience that brings people to the web, thereby making them available to the siren song of the advertisers; but it is the advertisers, who, in their effort to gain purchase over ever more significant corners of our brains, must distract and diminish the reading experience lest they be ignored. The story goes that every so often an advertiser surprises with a particularly innovative method of annoyance, after which a certain amount of time passes and we learn—automatically, involuntarily—to tune them out.
        p
          | There is no end to this, in that short of eviscerating the content all together (and removing any impetus the reader might have to visit in the first place), our attention to the advertisements is always waning. Sadly, our attention elsewhere also suffers and declines; instead of staying still to read, we skitter from place to place, like frightened prey assured the predators are near. Okay
        p
          | So, let’s stop pretending, shall we? Any economy which charges ever less for ever more intrusive ads will eventually be successful not in creating wealth but in driving the readers away, until the only ones left to heed the ads are all the other ads, the cell phones searching in vain for a target market among the cellulite.
        p
          | Wasn’t the web supposed to be better than this? Wasn’t there a promise that we could generate money and meaning, not merely the former? I’m still looking; but when I find it I will part with every penny I have.
    footer
      h1 A working letter
      p Occasional thoughts delivered to your inbox
      input(type='email', value='email address', aria-labelledby='email address')
      input(type='submit', value='subscribe')
      ul(role='contentinfo')
        li
          a(href='#') RSS
        li
          a(href='#') Colophon
        li
          a(href='#') Copyright
            | © 2008-2014 Mandy Brown
        li
          a(href='#') mandy@aworkinglibrary.com
        li
          a(href='#'') @aworkinglibrary
