/* for responsive video (Currently unused)
video {
  width: 100% ;
  height: auto;
}
*/

pre {
  display: block;
  background-color: #EEE;
  font: 12px monospace;
  overflow: auto;
  margin: 10px;
  max-width: 100%;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
